@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Retro-Gaming';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Retro-Gaming.ttf') format('truetype');
}