@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Retro-Gaming';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Retro-Gaming.ttf') format('truetype');
}

html{
  
  @apply scroll-smooth;

}

@layer base {

  :root{

    
    --ylw-primary : 60 100 50 ;
    --ylw-secondary : 51 98 60 ;

    --blk-primary : 0 0 0 ;
    --blk-secondary : 0 0 15 ;

    --blu-primary : 240 75 48 ;
    --blu-secondary : 240 100 32 ;

    --red-primary : 0 100 50 ;
    --red-secondary : 0 99 65 ;

    --pnk-primary : 329 98 77 ;
    --pnk-secondary : 329 100 86 ;

    --org-primary : 38 100 63 ;
    --org-secondary : 21 100 79 ;

    --cyn-primary : 172 100 50 ;
    --cyn-secondary : 172 100 71 ;

    --clr-black-base : 0 0 0 ;
    --clr-white-base : 255 255 255 ;

    --scroll-direction :1 ;

  }

}

.pac-svg {
  animation: journeyed linear infinite;
  animation-timeline: view(y);
  animation-range: 25% 75%;
}

@keyframes journeyed {
  0% {
    transform: translate(0vw) scaleX(1);
  }
  100% {
    transform: translate(100vw) scaleX(1);
  }
}