@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Retro-Gaming';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Retro-Gaming.ttf') format('truetype');
}

html{
  
  @apply scroll-smooth;

}

@layer base {

  :root{
    
    --clr-blue : 210 98 60 ;

    --clr-yellow : 51 98 60 ;
    
    --clr-green : 127 98 60 ;

    --clr-red : 0 98 60 ;

    --clr-orange : 30 98 60 ;

    --clr-purple : 270 98 60 ;

    --clr-pink : 330 98 60 ;

    --clr-black : 0 0 9 ;

    --clr-white : 0 0 100 ;

    --clr-gray : 0 0 50 ;

  }

}