---
const today = new Date();
---

<footer class="w-full h-auto relative bg-primaryblack text-center font-Retro pt-8 pb-4 pl-24 pr-4 text-primaryellow border-t-4 border-primaryblue">
	&copy; {today.getFullYear()} Portfolio de Noan Chouard<br>Tous droits réservés.
	
	<div class="flex justify-center gap-4 mt-4">

		<a href="#top" class="absolute top-5 left-5 duration-300 text-secondaryorange hover:text-primaryred animate-bounce">
	
			<svg width="72" height="72" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M41.4816 16H91.852V26.6667H101.926V37.3333H112V48V112H106.963V106.667H101.926V101.333H91.852V106.667H86.815V112H76.7409V106.667H71.7039V101.333H56.5928V106.667H51.5557V112H46.5187V106.667H41.4816V101.333H31.4076V106.667H26.3705V112H21.3335V37.3333H31.4076V26.6667H41.4816V16Z" fill="currentColor"/>
				<path d="M52.2222 37.2222H59.3333V62.1111H52.2222V68.3333H45.1111V62.1111H38V37.2222H45.1111V31H52.2222V37.2222Z" fill="white"/>
				<path d="M54.0002 30H43.3335V51.3333H54.0002V30Z" fill="#1F1ED5"/>
				<path d="M89.5557 37.2222H96.6668V62.1111H89.5557V68.3333H82.4446V62.1111H75.3335V37.2222H82.4446V31H89.5557V37.2222Z" fill="white"/>
				<path d="M91.3337 30H80.667V51.3333H91.3337V30Z" fill="#1F1ED5"/>
			</svg>	

		</a>

		<svg width="32" height="32" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M41.4816 16H91.852V26.6667H101.926V37.3333H112V48V112H106.963V106.667H101.926V101.333H91.852V106.667H86.815V112H76.7409V106.667H71.7039V101.333H56.5928V106.667H51.5557V112H46.5187V106.667H41.4816V101.333H31.4076V106.667H26.3705V112H21.3335V37.3333H31.4076V26.6667H41.4816V16Z" fill="#FF0000"/>
			<path d="M56.8887 38.2222H63.9998V63.1111H56.8887V69.3333H49.7776V63.1111H42.6665V38.2222H49.7776V32H56.8887V38.2222Z" fill="white"/>
			<path d="M63.9997 42.6667H53.333V64.0001H63.9997V42.6667Z" fill="#1F1ED5"/>
			<path d="M94.2222 38.2222H101.333V63.1111H94.2222V69.3333H87.1111V63.1111H80V38.2222H87.1111V32H94.2222V38.2222Z" fill="white"/>
			<path d="M101.333 42.6667H90.6665V64.0001H101.333V42.6667Z" fill="#1F1ED5"/>
		</svg>

		<a href="https://www.linkedin.com/in/noan-chouard/" class="text-primaryellow hover:text-secondaryellow hover:scale-110 duration-300" target="_blank">
			<span class="sr-only">Voir mon profil Linkedin</span>
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.6665 25.3333H6.6665V12H10.6665V25.3333ZM25.3332 25.3333H21.3332V18.2107C21.3332 16.3547 20.6718 15.4307 19.3612 15.4307C18.3225 15.4307 17.6638 15.948 17.3332 16.984V25.3333H13.3332C13.3332 25.3333 13.3865 13.3333 13.3332 12H16.4905L16.7345 14.6667H16.8172C17.6372 13.3333 18.9478 12.4293 20.7452 12.4293C22.1118 12.4293 23.2172 12.8093 24.0612 13.764C24.9105 14.72 25.3332 16.0027 25.3332 17.804V25.3333Z" fill="currentColor"/>
				<path d="M8.66676 10.6666C9.80815 10.6666 10.7334 9.7712 10.7334 8.66663C10.7334 7.56206 9.80815 6.66663 8.66676 6.66663C7.52538 6.66663 6.6001 7.56206 6.6001 8.66663C6.6001 9.7712 7.52538 10.6666 8.66676 10.6666Z" fill="currentColor"/>
			</svg>
		</a>
		
		<a href="mailto:noan.chouad@outlook.fr" class="text-primaryellow hover:text-secondaryellow hover:scale-110 duration-300" target="_blank">
			<span class="sr-only">Envoyer un mail</span>
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M29.3332 5.33337H2.6665V26.6667H29.3332V5.33337ZM5.33317 24V8.00004H26.6665V24H5.33317ZM10.6665 10.6667H7.99984V13.3334H10.6665V16H13.3332V18.6667H18.6665V16H21.3332V13.3334H23.9998V10.6667H21.3332V13.3334H18.6665V16H13.3332V13.3334H10.6665V10.6667Z" fill="currentColor"/>
			</svg>
		</a>
		
		<a href="https://www.behance.net/noanchouard111" class="text-primaryellow hover:text-secondaryellow hover:scale-110 duration-300" target="_blank">
			<span class="sr-only">Regarder mes projets</span>
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.4625 15.0974C14.1932 14.7961 14.7532 14.3241 15.0972 13.7641C15.4412 13.2041 15.6558 12.4734 15.6558 11.6987C15.6558 10.9681 15.5265 10.3227 15.3118 9.76405C15.0532 9.20405 14.7092 8.77472 14.2358 8.47338C13.7403 8.14182 13.1859 7.90828 12.6025 7.78538C11.9063 7.66239 11.2001 7.6048 10.4932 7.61338H2.6665V23.9574H10.6238C11.3545 23.9574 12.0865 23.9147 12.7305 23.6561C13.4108 23.4932 14.0536 23.2012 14.6238 22.7961C15.1838 22.4521 15.6132 21.9361 15.9132 21.2907C16.2145 20.6881 16.3865 19.9574 16.3865 19.0974C16.3865 18.0654 16.1292 17.1614 15.6558 16.4734C15.1398 15.8707 14.4078 15.3987 13.4625 15.0974ZM6.3225 10.4521H9.71984C10.0212 10.4521 10.3225 10.4947 10.6238 10.4947C10.9252 10.4947 11.2252 10.6681 11.3972 10.7961C11.6543 10.9175 11.8549 11.1333 11.9572 11.3987C12.0865 11.6561 12.1292 11.9574 12.1292 12.3881C12.1292 13.0321 11.9558 13.5921 11.5265 13.8934C11.0441 14.1758 10.4949 14.3241 9.93584 14.3227H6.3225V10.4521ZM12.6025 20.1294C12.4732 20.4307 12.3012 20.6027 11.9998 20.7747C11.7412 20.9467 11.4398 21.0761 11.1398 21.0761C10.8385 21.1187 10.4945 21.1187 10.1505 21.1187H6.27984V16.6881H10.2358C11.0105 16.6881 11.6132 16.8614 12.1292 17.2481C12.6025 17.5921 12.8598 18.2374 12.8598 19.0547C12.7745 19.4841 12.7745 19.8281 12.6025 20.1294ZM29.0758 16.2587C28.9025 15.3987 28.5158 14.6667 28.0425 14.0214C27.5567 13.372 26.9415 12.8304 26.2358 12.4307C25.4163 12.0402 24.521 11.8345 23.6132 11.8281C22.7092 11.8281 21.8492 12.0014 21.2038 12.3014C20.4689 12.5984 19.8084 13.0537 19.2692 13.6347C18.7092 14.1947 18.2798 14.8387 17.9785 15.6134C17.6625 16.4065 17.5018 17.253 17.5052 18.1067C17.5052 19.0107 17.6345 19.8707 17.9358 20.6454C18.2358 21.4187 18.6665 22.0214 19.1398 22.6241C19.6998 23.1841 20.2998 23.6134 21.0745 23.9147C21.8818 24.2365 22.7442 24.3972 23.6132 24.3881C24.9465 24.3881 26.1065 24.0867 27.0532 23.4841C28.0425 22.8827 28.6878 21.8494 29.1612 20.3881H26.3212C26.1932 20.7321 25.8918 21.1187 25.4625 21.4201C25.0318 21.7214 24.4305 21.8934 23.7852 21.8934C22.8812 21.8934 22.1505 21.6347 21.6785 21.1614C21.2038 20.6881 20.9025 19.7854 20.9025 18.8387H29.3332C29.3332 17.9361 29.2918 17.0321 29.0758 16.2587ZM20.7292 16.8187C20.7292 16.5161 20.8585 16.2147 20.9452 15.9574C21.0732 15.6561 21.2025 15.3547 21.4172 15.1401C21.6758 14.8814 22.0198 14.6241 22.3638 14.4521C22.7078 14.2787 23.1372 14.2787 23.5252 14.2787C24.2985 14.2787 24.9878 14.5374 25.3318 14.9254C25.6758 15.3547 25.9772 15.9574 26.0625 16.8187H20.7292ZM26.7092 8.73205H20.0425V10.3654H26.7092V8.73205Z" fill="currentColor"/>
				</svg>
		</a>
	
		<svg width="32" height="32" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M37.3333 26.6667V16H48H90.6667V21.3333H101.333V32H112V37.3333V42.6667H101.333V48H90.6667V53.3333H80V58.6667H69.3333V61.3333H58.6667V64V66.6667H69.3333V69.3333H80V74.6667H90.6667V80H101.333V85.3333H112V96H101.333V106.667H90.6667V112H37.3333V101.333H26.6667V90.6667H16V37.3333H26.6667V26.6667H37.3333Z" fill="#FFFF00"/>
		</svg>
	
	</div>

</footer>
